<div class="jumbotron text-center">
  <h1>Simple Timeline App</h1>
  <p>A simple MEAN application, built by Saad Salman.</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-sm-6 ">
    <h3>MongoDB</h3>
    <p>Used mongoDB, the NoSQL Database.</p>
  </div>
  <div class="col-md-3 col-sm-6">
    <h3>Express</h3>
    <p>Used express as the server framework.</p>
  </div>
  <div class="col-md-3 col-sm-6">
    <h3>Angular</h3>
    <p>Used Angular as the front-end framework.</p>
  </div>
  <div class="col-md-3 col-sm-6">
    <h3>Node.js</h3>
    <p>Used Node.js as JS runtime environment.</p>
  </div>
</div>