$blue: #1c4663;
$green: #096d5b;
$grey: #aaaaaa;

* {
    box-sizing: border-box;
}

/* The actual timeline */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto; 
    /* Automatically brings it to the center of the div */
}

/* the vertical ruler */
.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: $blue;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.mycontainer {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.mycontainer::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    right: -14px;
    background-color: $green;
    border: 2px solid $blue;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    /* If z-index would be -ve 1, the vertical line would be crossing over it. */
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid $blue;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent $blue;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid $blue;
    border-width: 10px 10px 10px 0;
    border-color: transparent $blue transparent transparent;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: $blue;
    position: relative;
    border-radius: 6px;
    color: white;
    font-size: 15px;

}

// .left .content{
//     -webkit-animation: slideInFromLeft  2s; /* Safari 4.0 - 8.0 */
//     animation: slideInFromLeft  2s;
// }

// @keyframes slideInFromLeft {
//     0% {
//         transform: translateX(-100%);
//     }
//     100% {
//         transform: translateX(0);
//     }
// }

// @keyframes fadeIn {
//     0% {
//         opacity: 0;
//     }
//     100% {
//         opacity: 1;
//     }
// }

.left 
{
    .timeline_time 
    {
        color: $grey;
    }
    .timeline_date
    {
        color: $green;
    }
}

.right
{ 
    .timeline_time 
    {
        color: $grey;   
    }
    .timeline_date 
    {
        color: $green;   
    }
}

// browser's window width should be minimum 1024px
@media (min-width: 64rem)      
{
    .left 
    {
        .timeline_time
        {
            position:absolute;width:100%;left:120%;top:5px;color: $grey;   
        }
        .timeline_date
        {
            position:absolute;width:100%;left:120%;top:25px;color: $green;   
        }
    }

    .right 
    {
        .timeline_time
        {
            text-align: right;position:absolute;width:100%;right:120%;top:5px;color: $grey;
        }
        .timeline_date
        {
            text-align: right;position:absolute;width:100%;right:120%;top:25px;color: $green;  
        }
    }
}


@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }
    
    /* Full-width containers */
    .mycontainer {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .mycontainer::before {
        left: 60px;
        border: medium solid $blue;
        border-width: 10px 10px 10px 0;
        border-color: transparent $blue transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}